body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1.2em;
  background-image: url(../images/foggy_birds.png);
}

h1,h2,h3,h4,h5,h6{
  font-weight:100;
}
h1
{
  margin-top: 0;
}

#scene{
  width: 600px;
  height: 781px;
}
#singer-scene{
  width: 230px;
  height: 230px;
}

#poster{
  background-image: url(../images/birdemic-poster2.jpg);
  width: 100%;
  height: 745px;
}

#music {
  display:none;
}
.audio #music
{
  display: block;
  position: fixed;
  bottom: 10px;
  right: 30px;
  text-align: center;
}

.container{
  width:600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: solid 1px #e2e2e2;
}

#critics, #normies
{
  list-style:none;
}
#critics,
#critics li,
#normies,
#normies li{
  margin:0;
  padding:0;
}

#critics li{
 clear: both;
 height:50px;
 margin-bottom: 20px;
}

#critics li quote{
  color: #444;
  display: block;
  padding-top: 10px;
}

#critics li span
{
  color: #666;
  font-size: 0.85em;
}

#critics li img{
  float: left;
  width: 50px;
  height: 50px;
  display: block;
  margin-right: 10px;
}

#normies li
{
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
}
#normies li:last-child  {
  border-bottom: 0;
}
#normies li quote{
  display: block;
  color: #444;
}

#normies li span
{
  font-size: 0.85em;
}
